<div id="<%= dom_id message %>" class="border">
  <p>
    <strong>Body:</strong>
    <%= simple_format(message.body) %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= link_to message.inbox.name, message.inbox %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

  <%= button_to 'Like', [:upvote, @inbox, message], method: :patch, data: { turbo: "false" }, class: "btn btn-primary btn-xs" %>
  <%= message.get_upvotes.size%>
  <%= message.get_downvotes.size%>
  <%= current_user.voted_for? message%>

  <%= button_to "Destroy", inbox_message_path(@inbox, message), method: :delete, class: "btn btn-primary btn-xs" %>

</div>
