<!DOCTYPE html>
<html>
  <head>
    <title>Demo Feedback Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
  </head>



  <body>
    <%= render "shared/navigations"%>
    <div class="container mt-5 mb-5">
    <%= render 'shared/flash' %>
      <%= image_tag current_user.image, size: '30x30', alt: "#{current_user.email}" if user_signed_in? && current_user.image? %>
      <%= yield %>
    </div>
  
    <%= render "shared/footer"%>

  </body>
</html>
