<!DOCTYPE html>
<html>
  <head>
    <title>Demo Feedback Application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    
  </head>



  <body>
  <%= render "shared/navigations"%>
    <div class="container mt-5 mb-5">
      
      <%= render "shared/messages"%>
<br>
      <%= render 'shared/flash' %>
      <%= button_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbolinks: false } %>
      <%= yield %>
    </div>
  
    <%= render "shared/footer"%>

  </body>
</html>
