<div id="<%= dom_id inbox %>", class="border p-3">
  <p>
    <strong>Name:</strong>
    <%= inbox.name %>
  </p>
 <a>
  Wrote by <%= inbox.user.email %>
  <span> 
     on
    <%= inbox.created_at.strftime('%d %B %Y') %>
    <span> |
  <a id="message_counter">Messages: <%= inbox.messages_count %> </a>
  </a>

   
   
 
</div>
