<p style="color: green"><%= notice %></p>

<%= render @inbox %>

<div class="pt-3 pb-3">
  <%= link_to "Edit this inbox", edit_inbox_path(@inbox), class: "btn btn-primary btn-xs" %>
  <%= link_to "Back to inboxes", inboxes_path, class: "btn btn-primary btn-xs" %>
  <%= link_to "Destroy this inbox", @inbox, method: :delete, class: "btn btn-primary btn-xs" %>
</div>

<%= link_to 'New message', new_inbox_message_path(@inbox), class: "btn btn-primary btn-xs"%>

<div id="new_message border">
  <%= render 'inboxes/messages/form', message: Message.new %>
</div>

<h1> Messages <%= @inbox.messages.length %> </h1>

<div class="border">
<%= Time.zone.now %>
</div>

<div>
  <%= render partial: 'inboxes/messages/message', collection: @inbox.messages %>
</div>