<p style="color: green"></p>

<%= render @inbox %>
<%= @inbox.color %>
<div class="py-2">
  <%= link_to "Edit this inbox", edit_inbox_path(@inbox), class: "btn btn-primary btn-xs" if policy(@inbox).edit? %>
</div>

<div id="new_message border">
  <%= render 'inboxes/messages/form', message: Message.new %>
</div>

<div class="">
<%= Time.zone.now %>
</div>

<div id= "message_list">
  <%= render partial: 'inboxes/messages/message', collection: @inbox.messages %>
</div>

<div class="py-3">
  <%= link_to "Back to inboxes", inboxes_path, class: "btn btn-primary btn-xs" %>
  <%= button_to "Destroy this inbox", @inbox, method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' }, form: {style: 'display:inline-block;'} if policy(@inbox).destroy? %>
</div>